# MIMIC Notes Pre-Processing

Pre-processing MIMIC notes for language model and CUIs

Below is a list of redacted items with an example and the replacement token.

Redacted items:
* [x] First Name: `[**First Name (Titles) 137**]`, `xxname`
* [x] Last Name: `[**Last Name (Titles) **]`, `xxln`
* [x] Initials: `[**Initials (NamePattern4) **]`, `xxinit`
* [x] Name: `[**Name (NI) **]`, `xxname`
* [x] Doctor First Name: `[**Doctor First Name 1266**]`, `xxdocfn`
* [x] Doctor Last Name: `[**Doctor Last Name 1266**]`, `xxdocln`
* [x] Known Last Name: `[**Known lastname 658**]`, `xxln`
* [x] Hospital: `[**Hospital1 **]`, `xxhosp`
* [x] Hospital Unit Name: `**Hospital Unit Name 10**`, `xxhosp`
* [x] Company: `[**Company 12924**]`, `xxwork`
* [x] University/College: `[**University/College **]`, `xxwork`
* [x] Date of format YYYY-M-DD: `[**2112-4-18**]`, `xxdate`
* [x] Year: `[**Year (4 digits) **]`, `xxyear`
* [x] Year YYYY format: `[**2119**]`, `xxyear` - I use a regex `\b\d{4}\b` that will match **any** 4 digits which might be problematic, but for the most part 4 digits by itself seems to indicate a year.
* [x] Date of format M-DD: `[**6-12**]`, `[**12/2151**]`, `xxmmdd`
* [x] Month/Day: `[**Month/Day (2) 509**]`, `xxmmdd`
* [x] Month (only): `[**Month (only) 51**]`, `xxmonth`
* [x] Holiday: `[**Holiday 3470**]`, `xxhols`
* [x] Date Range: `[**Date range (1) 7610**]`, `xxdtrnge`
* [x] Country: `[**Country 9958**]`, `xxcntry`
* [x] State: `[**State 3283**]`, `xxstate`
* [x] Location: `**Location (un) 2432**`, `xxloc`
* [x] Telephone/Fax: `[**Telephone/Fax (3) 8049**]`, `xxph`
* [x] Clip Number: `[**Clip Number (Radiology) 29923**]`, `xxradclip`
* [x] Pager Numeric Identifier: `[**Numeric Identifier 6403**]`, `xxpager`
* [x] Pager Number: `[**Pager number 13866**]`, `xxpager`
* [x] Social Security Number: `[**Security Number 10198**]`, `xxssn`
* [x] Serial Number: `[**Serial Number 3567**]`, `xxsno`
* [x] Medical Record Number: `[**Medical Record Number **]`, `xxmrno`
* [x] Provider Number: `[**Provider Number 12521**]`, `xxpno`
* [x] Age over 90: `[**Age over 90 **]`, `xxage90`
* [x] Contact Info: `[**Contact Info **]`, `xxcontact`
* [x] Job Number: `[**Job Number **]`, `xxjobno`
* [x] Dictator Number: `[**Dictator Info **]`, `xxdict`
* [x] Pharmacy MD Number/MD number: `[**Pharmacy MD Number **]`, `xxmdno`
* [x] Time: `12:52 PM`, split into 6 segments by the hour and replace with the following tokens: `midnight, dawn, forenoon, afternoon, dusk, night`
* 2-digit Numbers: `[** 84 **]`, `xx2digit`
* 3-digit Numbers: `[** 834 **]`, `xx3digit`
* Wardname

## Imports and Inits

In [1]:
import pandas as pd
import psycopg2
import numpy as np
import re
import random
import datetime
from pathlib import Path
import pickle
import numpy as np

In [2]:
path = Path('data')

In [3]:
from process_notes import *

## Grab sample data from MIMIC

In [ ]:
cats = pd.read_csv('cats.csv')
max_limit = -1

queries = []
for category, n_notes in zip(cats['category'], cats['number_of_notes']):
    limit = min(max_limit, n_notes) if max_limit > 0 else n_notes
    if limit == max_limit:
        q = f"""
        select * from correctnotes where category=\'{category}\' order by random() limit {limit};
        """
    else:
        q = f"""
        select * from correctnotes where category=\'{category}\';
        """
    queries.append(q)

In [ ]:
%%time
dfs = []

con = psycopg2.connect(dbname='mimic', user='sudarshan', host='/var/run/postgresql')
for q in queries:
    df = pd.read_sql_query(q, con)
    dfs.append(df)
con.close()
    
df = pd.concat(dfs)
df.reset_index(inplace=True, drop=True)
# df.set_index('row_id', inplace=True)
print(df.shape)

In [ ]:
df[['category', 'text']].groupby(['category']).agg(['count'])

In [ ]:
%%time
df['text'] = df['text'].apply(process_note)

In [ ]:
with open(path/'processed_noteevents.pkl', 'wb') as f:
    pickle.dump(df, f)

texts = df['text']
texts.to_csv(path/'texts.csv')

In [43]:
ori_df = pickle.load(open(path/'processed_noteevents.pkl', 'rb'))

In [78]:
dfs = [ori_df.loc[ori_df['category'] == c] for c in ori_df['category'].unique()]
msks = [np.random.rand(len(d)) < 0.9 for d in dfs]

In [79]:
train_dfs = [None] * len(dfs)
val_dfs = [None] * len(dfs)

for i in range(len(dfs)):
    df = dfs[i]
    mask = msks[i]
    train_dfs[i] = df[mask]
    val_dfs[i] = df[~mask]

In [80]:
train_df = pd.concat(train_dfs)
val_df = pd.concat(val_dfs)

print(len(train_df), (len(ori_df) - len(ori_df)//10), len(train_df)-(len(ori_df) - len(ori_df)//10))
print(len(val_df), (len(ori_df)//10), len(val_df)-(len(ori_df)//10))

1873950 1874065 -115
208344 208229 115

In [81]:
val_df[['category', 'text']].groupby(['category']).agg(['count'])

                    text
                   count
category
Case Management      108
Consult                2
Discharge summary   5919
ECG                20845
Echo                4561
General              880
Nursing            22438
Nursing/other      82179
Nutrition            928
Pharmacy               9
Physician          14080
Radiology          52385
Rehab Services       592
Respiratory         3164
Social Work          254

In [82]:
train_df[['category', 'text']].groupby(['category']).agg(['count'])

                     text
                    count
category
Case Management       845
Consult                96
Discharge summary   53733
ECG                188206
Echo                41233
General              7356
Nursing            200744
Nursing/other      740318
Nutrition            8472
Pharmacy               92
Physician          127201
Radiology          469894
Rehab Services       4816
Respiratory         28537
Social Work          2407

In [83]:
ori_df[['category', 'text']].groupby(['category']).agg(['count'])

                     text
                    count
category
Case Management       953
Consult                98
Discharge summary   59652
ECG                209051
Echo                45794
General              8236
Nursing            223182
Nursing/other      822497
Nutrition            9400
Pharmacy              101
Physician          141281
Radiology          522279
Rehab Services       5408
Respiratory         31701
Social Work          2661

In [50]:
for i in range(len(dfs)):
    assert (len(dfs[i]) == len(train_dfs[i])+len(val_dfs[i]))
    print(len(dfs[i]))
    print(len(train_dfs[i]), len(val_dfs[i]))
    print('****')

953
858 95
****
98
89 9
****
59652
53822 5830
****
209051
188096 20955
****
45794
41228 4566
****
8236
7388 848
****
223182
200791 22391
****
822497
739927 82570
****
9400
8448 952
****
101
94 7
****
141281
127046 14235
****
522279
470073 52206
****
5408
4872 536
****
31701
28532 3169
****
2661
2416 245
****